.jumbotron {
    background-color: rgba(30, 98, 167, 0.979);
    color: white;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: rgb(74, 74, 74);
    margin-bottom: 0px;
    margin-top: 10px;
    color: white;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.card-hotel {
    flex: 1 200px;
    margin-top: 10px;
}

.footer-icon {
    padding: 0px 10px 0px 0px;
}

.icon-btn-hoteles {
    padding: 0px 25px 0px 0px;
}

td {
    text-align: center;
}

.tab-content {
    padding-top: 10px;
}

.container {
    padding: 0px 0px 0px 0px;
}

th {
    text-align: center;
}