$bluee: #105d5d;
$black: rgb(74, 74, 74);
$text-color-secundari: white;
@mixin margenes ($stop, $bottom) {
    margin-top: $stop;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $bluee;
    color: $text-color-secundari;
    @include margenes(50px, 0px);
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $black;
    @include margenes(10px, 0px);
    color: $text-color-secundari;
}

.btn-reserva {
    width: 100%;
    border-radius: 0px;
}

.card-hotel {
    flex: 1 200px;
    @include margenes(10px, 0px)
}

.footer-icon {
    padding: 0px 10px 0px 0px;
}

.icon-btn-hoteles {
    padding: 0px 25px 0px 0px;
}

td {
    text-align: center;
}

.tab-content {
    padding-top: 10px;
}

.container {
    padding: 0px 0px 0px 0px;
}

th {
    text-align: center;
}